{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('About our science fair') }}
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='about') }}
        {{ base.heading('About Joe') }}
        <div class="w3-container w3-center">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vRYsdqs0-ESKaEVJ9tuP5QYFyWtVDJ2idBeg3P-5C2qJeZ5HhKAEAqF2XbppExJPMMtvi55aIT3ryjo/pub?embedded=true"></iframe>
        </div>
    </body>
</html>
