{% macro selection(selected, selectGoal, dropdown=False) %}
    {% if not dropdown %}
        w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo w3-bottombar {% if selected == selectGoal %}w3-border-blue{% else %}w3-border-none w3-hover-border-indigo{% endif %}
    {% else %}
        w3-dropdown-hover w3-hide-small w3-hover-indigo w3-bottombar {% if selected == selectGoal %}w3-border-blue{% else %}w3-border-none w3-hover-border-indigo{% endif %}
    {% endif %}
{% endmacro %}

{% macro navbar(user, c='/', spacing=3) %}
    <div class="w3-top">
        <div class="w3-bar w3-2019-galaxy-blue w3-card">
            <a href="/" class="{{ selection(c, '/') }}">Joe</a>
            <a href="/about" class="{{ selection(c, 'about') }}">Learn more about Joe</a>
            <div class="{{ selection(c, 'teach', True) }}">
                <button class="w3-button w3-padding-large w3-hover-indigo">Teach with Joe</button>
                <div class="w3-dropdown-content w3-2019-galaxy-blue w3-bar-block w3-card-4">
                    <a href="/upload-dataset" class="w3-bar-item w3-hover-indigo w3-button">Upload a dataset</a>
                    <a href="/new-model" class="w3-bar-item w3-hover-indigo w3-button">Train a model</a>
                    <a href="/teach" class="w3-bar-item w3-hover-indigo w3-button">More Info</a>
                </div>
            </div>
            <div class="{{ selection(c, 'explore', True) }}">
                <button class="w3-button w3-padding-large w3-hover-indigo">Talk to our neural networks with Joe</button>
                <div class="w3-dropdown-content w3-2019-galaxy-blue w3-bar-block w3-card-4">
                    <a href="/explore-datasets" class="w3-bar-item w3-hover-indigo w3-button">Explore datasets</a>
                    <a href="/explore-models" class="w3-bar-item w3-hover-indigo w3-button">Explore models</a>
                </div>
            </div>
            {% if (not user) or user.is_anonymous %}
                <a href="/login" class="{{ selection(c, 'login') }} w3-right">Log In</a>
                <a href="/register" class="{{ selection(c, 'register') }} w3-right">Sign Up</a>
            {% else %}
                <span class="w3-bar-item w3-right w3-padding-large"><b>{{ user.name|escape }}</b></span>
                <a href="/u/{{ user.username }}" class="{{ selection(True, False) }} w3-right">My Account</a>
            {% endif %}
        </div>
    </div>
    {% if spacing %}
        <div>{% for br in range(spacing) %}<br>{% endfor %}</div>
    {% endif %}
{% endmacro %}

{% macro heading(title, extras=False) %}
    <div class="w3-container w3-xxxlarge w3-center">
        <b>{{ title|safe }}</b>
        {% if extras %}
            <p class="w3-xxlarge">{{ extras|safe }}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro head(title, css=[], important=False) %}
    <meta charset="UTF-8">
    <title>{{ title }} {% if 'Joe' not in title %} | Joe{% endif %}</title>
    <link rel="stylesheet" href="/static/w3.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/w3-colors-2019.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Poppins:i|Poppins:b&display=swap" rel="stylesheet">
    {% for cssFile in css %} 
        <link rel="stylesheet" href="/static/{{ cssFile }}.css">
    {% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #191970;
            font-family: 'Poppins', sans-serif;
        }
        iframe {
            border-style: hidden; 
        }
        .w3-bruh-blue {
            background-color: #191970;
        }
    </style>
    {% if important %}
    <base target="_blank">
    {% endif %}
{% endmacro %}

{% macro formErrors(field, escape=True) %}
    {% if field.errors|length %}
    <ul class="w3-ul w3-text-red">
        {% for error in field.errors %}
            <li>
            {% if escape %}
                error|escape
            {% else %}
                error
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}
