{% macro selection(selected, selectGoal) %}
    w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo w3-bottombar {% if selected == selectGoal %}w3-border-blue{% else %}w3-border-none w3-hover-border-indigo{% endif %}
{% endmacro %}

{% macro navbar(user, c='/', spacing=3) %}
    <div class="w3-top">
        <div class="w3-bar w3-2019-galaxy-blue w3-card">
            <a href="/" class="{{ selection(c, '/') }}">Joe</a>
            <a class = "dropdown1: href="/about" class="{{ selection(c, 'about') }}">Learn more about Joe</a>
            <div class = "dropdowncontent1>
            <a>Link 1</a>
            <a>Link 2</a>
            </div>
            <a class = "dropdown" href="/teach" class="{{ selection(c, 'teach') }}">Teach with Joe</a>
            <a class = "dropdown" href="/explore-models" class="{{ selection(c, 'explore') }}">Talk to our neural networks with Joe</a>
            {% if (not user) or user.is_anonymous %}
                <a href="/login" class="{{ selection(c, 'login') }} w3-right">Log In</a>
                <a href="/register" class="{{ selection(c, 'register') }} w3-right">Sign Up</a>
            {% else %}
                <span class="w3-bar-item w3-right w3-padding-large"><b>{{ user.name|escape }}</b></span>
                <a href="/u/{{ user.username }}" class="{{ selection(True, False) }} w3-right">My Account</a>
            {% endif %}
        </div>
    </div>
    {% if spacing %}
        <div>{% for br in range(spacing) %}<br>{% endfor %}</div>
    {% endif %}
    <style>
    .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
    </style>
{% endmacro %}

{% macro heading(title, extras=False) %}
    <div class="w3-container w3-xxxlarge w3-center">
        <b>{{ title|safe }}</b>
        {% if extras %}
            <p class="w3-xxlarge">{{ extras|safe }}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro head(title, css=[], important=False) %}
    <meta charset="UTF-8">
    <title>{{ title }} {% if 'Joe' not in title %} | Joe{% endif %}</title>
    <link rel="stylesheet" href="/static/w3.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/w3-colors-2019.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Poppins:i|Poppins:b&display=swap" rel="stylesheet">
    {% for cssFile in css %} 
        <link rel="stylesheet" href="/static/{{ cssFile }}.css">
    {% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #191970;
            font-family: 'Poppins', sans-serif;
        }
        iframe {
            border-style: hidden; 
        }
        .w3-bruh-blue {
            background-color: #191970;
        }
    </style>
    {% if important %}
    <base target="_blank">
    {% endif %}
{% endmacro %}