{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Models') }}
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='explore') }}
        <div class="w3-container">
            {% for m in models %}
                <div class="w3-display-container w3-card w3-indigo w3-margin w3-padding">
                    <b>Model #{{ m['ID'] }}</b> by <a href="/u/{{ m['username'] }}">{{ m['username'] }}</a>
                    <p>{{ m['model_description']|escape }}</p>
                    <p>Dataset: <a href="/d/{{ m['datasetID'] }}">{{ m['title']|escape }}</a></p>
                    <a href="/m/{{ m['ID'] }}">More about this model</a>
                    <br>
                    <b><a href="/generate/{{ m['ID'] }}" class="w3-button w3-2019-galaxy-blue w3-padding-large w3-margin" style="background-color : #191970">Generate text from this model</a></b>
                    <div class="w3-container w3-display-right">
                        <iframe src="/votes/{{ user.ID }}?modelID=m['ID']&bg-colour=w3-indigo"></iframe>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>