{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Joe\'s writings') }}
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='/') }}
        <div class="w3-container">
            {% for s in samples %}
                <div class="w3-container w3-card w3-indigo w3-margin w3-padding">
                    <p><b>Sample #{{ s['ID'] }}</b> on <a href="/u/{{ s['modelID'] }}">{{ s['model_description'] }}</a></p>
                    <p><b>Description of this model:</b> {{ m['model_description']|escape }}</p>
                    <p>Dataset: <a href="/d/{{ s['datasetID'] }}">{{ s['title']|escape }}</a></p>
                    <p><b><a href="/generated/{{ s['ID'] }}">Read this text</a></b></p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
