{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Models') }}
        <script>
            var iframeCount;
            var iframes;
            var currentIframeI = 0;
            var frameInterval;
            function voteFrame() {
                if (currentIframeI == iframeCount) {
                    clearInterval(frameInterval);
                }
                else {
                    iframes[currentIframeI].src = "/votes/{{ user.ID }}?modelID="+iframes[currentIframeI].id+"&bg-colour=w3-indigo";
                }
                currentIframeI++;
            }

            window.onload = function() {
                iframes = document.getElementsByTagName('IFRAME');
                iframeCount = iframes.length;
                frameInterval = setInterval(voteFrame, 600);
            }
        </script>
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='explore') }}
        {{ base.heading('Models') }}
        {{ base.pagify(pageCount, pageNum, 'explore-models') }}
        <div class="w3-container">
            {% for m in models %}
                <div class="w3-container w3-card w3-indigo w3-margin w3-padding">
                    <div class="w3-container w3-left">
                        <p><b>Model #{{ m['ID'] }}</b> by <a href="/u/{{ m['username'] }}">{{ m['username'] }}</a></p>
                        <p>{{ m['model_description']|escape }}</p>
                        <p>Dataset: <a href="/d/{{ m['datasetID'] }}">{{ m['title']|escape }}</a></p>
                        <p><a href="/m/{{ m['ID'] }}">More about this model</a></p>
                        <p><b><a href="/generate/{{ m['ID'] }}" class="w3-button w3-bruh-blue w3-padding-large w3-margin">Generate text from this model</a></b></p>
                    </div>
                    <div class="w3-container w3-right">
                        <iframe id="{{ m['ID'] }}"></iframe>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ base.pagify(pageCount, pageNum, 'explore-models') }}
    </body>
</html>