<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log in | Joe</title>
        <link rel="stylesheet" href="/static/w3.css">
        <link rel="stylesheet" href="/static/w3-colors-2019.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body
            {
               background-color:#191970;
            }
            pre
            {
                overflow: scroll;
            }
            .w3-poppins{
                font-family: 'Poppins', sans-serif;
            }
            </style>
        <title>Generating text from model #{{ ID }}</title>
    </head>
    <body class="w3-text-white">
        <div class="w3-container w3-margin">
            <pre>
                {{ generatedText }}
            </pre>
        </div>
    </body>
</html>