{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Generate text with Joe', important=True) }}
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='teach') }}
        {{ base.heading('Generate text from model #'~ID|string) }}

        <div class="w3-container w3-card w3-margin w3-2019-galaxy-blue">
            <form method="POST" target="_self">
                {% for field in form %}
                    {% if field.id == 'csrf_token' %}
                        {{ field }}
                    {% else %}
                        <div class="w3-margin-top">
                            <div>
                                <b>{{ field.label }}</b>
                            </div>
                            {{ field }}
                        </div>
                    {% endif %}
                    {{ base.formErrors(field) }}
                {% endfor %}
                <br>
                <button type="submit" class="w3-button w3-xlarge w3-2019-galaxy-blue w3-right w3-margin w3-hover-indigo">Start generating text!</button>
            </form>
        </div>
    </body>
</html>