{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Science Fair') }}
        <script>
            var slideIndex = 0;

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > x.length) { slideIndex = 1 }
                x[slideIndex - 1].style.display = "block";
                setTimeout(carousel, 6000);
            }
        </script>
    </head>
    <body onload="carousel()">
        {{ base.navbar(user, spacing=0) }}
        <div class="mySlides w3-display-container w3-center">
            <img src="/static/images/AIface.jpg" style="width:100%">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                <h3>Open to all</h3>
                <p><b>Joe brings machine learning to anyone, regardless of programming or computer knowledge</b></p>
            </div>
        </div>
        <div class="mySlides w3-display-container w3-center">
            <img src="/static/images/AItrain.jpg" style="width:100%">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                <h3>Recurrent Neural Network</h3>
                <p><b>Joe connects you to both long short-term memory and gated recurrent unit neural networks</b></p>
            </div>
        </div>
        <div class="mySlides w3-display-container w3-center">
            <img src="/static/images/lightbulb.jpg" style="width:100%">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                <h3>Low budget and open source</h3>
                <p><b>
                    Joe is built with completely free & open source software, such as Apache2, PyTorch, Flask, WTForms, MariaDB, and Git.
                </b></p>
            </div>
        </div>
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="home">
            <h2 class="w3-wide">MEET JOE.</h2>
            <p class="w3-opacity"><i>One step closer to the future.</i></p>
            <p class="w3-text-align-center">
                Joe is a project that aims to create a more organized, more accessible, system for machine learning training & tracking.
                <br>
                The machine learning system that we're using will be based off of The Combed Thunderclap's (@thundercomb)
                <b><a href="https://github.com/thundercomb/pytorch-char-rnn/">pytorch-char-rnn project</a></b>.
            </p>
        </div>
    </body>
</html>