{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Log in') }}
    </head>
    <body>
        {{ base.navbar(False, c='login') }}
        {{ base.heading('Log in to your account') }}

        <div class="w3-container w3-card w3-margin w3-2019-galaxy-blue">
            <form method="POST">
                {% for field in form %}
                    {% if field.id == 'csrf_token' %}
                        {{ field }}
                    {% else %}
                        <div class="w3-margin-top">
                            <b>{{ field.label }}</b>
                            {{ field }}
                        </div>
                    {% endif %}
                    {{ base.formErrors(field) }}
                {% endfor %}
                <br>
                <button type="submit" class="w3-button w3-padding-large w3-bruh-blue w3-right w3-margin w3-hover-indigo">Log in</button>
            </form>
            <a href="/register">Don't have an account? Click here to get one.</a>
        </div>
    </body>
</html>
