{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Progress on model #'~ID|string, css=['books'], important=True) }}
        <script>
        var progressBar;
        var curID;
        progBarReq = new XMLHttpRequest();
        progBarReq.addEventListener("load", setProgBar);

        function setProgBar()  {
            responseArr = JSON.parse(this.responseText)
            progressBar.value = responseArr[0];
            clearTimeout(newRequest);

            if (responseArr[1]) {
                setTimeout(generatePage, 1000);
            }
            
            else {
                setTimeout(newRequest, 1000);
            }
        }

        function generatePage() {
            window.location.href = "/generate/" + curID
        }

        function newRequest() {
            progBarReq.open('GET', '/epoch-progress/'+curID);
            progBarReq.send();
        }

        window.onload = function() {
            curID = parseInt(document.getElementById("currentID").innerHTML);
            progressBar = document.getElementById("epochProgress");
            newRequest();
        }
        </script>
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='teach') }}
        
        {{ base.heading('Progress on model #'~ID|string) }}
        <div class="w3-container">
            <div>
                Amount completed
                <progress max="{{ maxEpochs }}" value="0" id="epochProgress"></progress>
            </div>
        </div>
        <span class="w3-hide" id="currentID">{{ ID }}</span>
        <div class="bookshelf_wrapper">
            <ul class="books_list">
              <li class="book_item first"></li>
              <li class="book_item second"></li>
              <li class="book_item third"></li>
              <li class="book_item fourth"></li>
              <li class="book_item fifth"></li>
              <li class="book_item sixth"></li>
            </ul>
            <div class="shelf"></div>
          </div>
    </body>
</html>
