<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Joe's Model-Maker</title>
        <link rel="stylesheet" href="/static/w3.css">
        <link rel="stylesheet" href="/static/popups.css">
        <link rel="stylesheet" href="/static/w3-colors-2019.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body
            {
               background-color:#191970;
            }
            .w3-poppins {
                font-family: 'Poppins', sans-serif;
            }
        </style>
        <base target="_blank">
    </head>
    <body class="w3-text-white">
        <div class="w3-top">
            <div class="w3-bar w3-2019-galaxy-blue w3-card">
                <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-indigo">Joe</a>
                <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo">Learn more about Joe</a>
                <a href="/teach" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-indigo">Teach with Joe</a>
                <a href="/explore-models" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo">Talk to our neural networks with Joe</a>
                <span class="w3-bar-item w3-right w3-padding-large"><b>{{ user.name|escape }}</b></span>
                <a href="/logout" class="w3-bar-item w3-button w3-right w3-padding-large w3-hide-small w3-hover-indigo">My Account</a>
            </div>
        </div>
        <div><br><br></div>

        <div class="w3-container w3-margin">
            <form method="POST" target="_self">
                <p><a href="/explore-datasets">Browse datasets</a></p>
                {% for field in form %}
                    {% if field in [form.csrf_token] %}
                        {{ field }}
                    {% else %}
                        <div class="w3-margin-top">
                            <div>
                                <b>{{ field.label|safe }}</b>
                            </div>
                            {{ field }}
                        </div>
                    {% endif %}
                    <ul class="w3-ul w3-text-red">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                     </ul>
                {% endfor %}
                <br>
                <button type="submit" class="w3-button w3-xlarge w3-2019-galaxy-blue w3-right w3-margin w3-hover-indigo">Start training this model!</button>
            </form>
        </div>
    </body>
</html>