{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Joe\'s Model Maker', important=True, popups=True) }}
        <script>
            var userMode = false;

            function toggle() {
                if (userMode) {
                    document.getElementById("toggle").innerHTML = "Switch to easy mode";
                    userMode = false;
                }
                else {
                    document.getElementById("toggle").innerHTML = "Switch to advanced mode";
                    userMode = true;
                }
            }
        </script>
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='teach') }}
        {{ base.heading('Make a model') }}
        <button class="w3-button w3-2019-galaxy-blue w3-hover-indigo w3-padding" id="toggle" onclick="toggle()">Switch to easy mode</button>
        <div class="w3-container w3-margin">
            <form method="POST" target="_self">
                <p><b>Hover over any field's label for a more detailed explanation</b></p>
                <p><a href="/explore-datasets">Browse datasets</a></p>
                {% for field in form %}
                    {% if field in [form.csrf_token] %}
                        {{ field }}
                    {% else %}
                        <div class="w3-margin-top">
                            <div>
                                {{ field.label|safe }}
                            </div>
                            {{ field }}
                        </div>
                    {% endif %}
                    <ul class="w3-ul w3-text-red">
                        {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                     </ul>
                {% endfor %}
                <br>
                <button type="submit" class="w3-button w3-xlarge w3-2019-galaxy-blue w3-right w3-margin w3-hover-indigo">Start training this model!</button>
            </form>
        </div>
    </body>
</html>
