{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Model #'~m['ID']|string) }}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            var chartRows = '{{ chartRows|safe }}';

            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn("number", "Checkpoint");
                data.addColumn("number", "Loss");
                data.addColumn({type:"string", role:"tooltip"});
                data.addColumn({type:"string", role:"annotation"});
                data.addColumn({type:"string", role:"annotationText"});
                data.addRows(JSON.parse(chartRows));

                var options = {
                    title: 'Loss test',
                    legend: {position: 'top'},
                    chartArea: {
                        left:10,
                        top:20,
                        width:"100%",
                        height:"100%"}
                };
                var chart = new google.visualization.LineChart(document.getElementById("chart"));
                chart.draw(data, options);
            }
        </script>
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='explore') }}
        {{ base.heading('Dataset #'~m['ID']|string, extras='by <a href="/u/'~m['username']~''">'~m['username']~'</a>') }}
        <div class="w3-container w3-margin">
            {% if m['model_description']|length %}
                <p class="w3-container w3-large w3-card w3-padding w3-2019-galaxy-blue">Description: <b>{{ m['model_description']|escape }}</b></p>
            {% endif %}
            <div><iframe src="/votes/{{ user.ID }}?modelID={{ m['ID'] }}"></iframe></div>
            <br>
            <p>
                Began training on {{ m['began_training']|datetime }}<br>
                {% if m['finished_naturally'] %}
                    Training finished on {{ m['time_finished']|datetime }}
                {% else %}
                    Training was stopped on {{ m['time_finished']|datetime }}
                {% endif %}
            </p>
            <div>
                <p>Amount of hidden layers: <b>{{ m['num_layers'] }}</b></p>
                <p>Size of hidden layers: <b>{{ m['learning_rate'] }}</b></p>
                <p>Size of batches: <b>{{ m['batch_size'] }}</b></p>
                <p>Learning rate: <b>{{ m['learning_rate'] }}</b></p>
                <p>Dropout: <b>{{ m['dropout'] }}</b></p>
            </div>
            <div>
                <b><a href="/generate/{{ m['ID'] }}" class="w3-button w3-2019-galaxy-blue w3-padding-large w3-hide-small w3-hover-indigo">Generate text from this model</a></b>
            </div>
            <div class="w3-container w3-margin">
                <p class="w3-large"><b>Dataset</b></p>
                <div>
                    <p><b>{{ d['title']|escape }}</b> by <a href="/u/{{ d['username'] }}">{{ d['username'] }}</a></p>
                    <p>{{ d['user_description']|escape }}</p>
                    <p class="w3-small">Size: {{ d['LENGTH(datasets.final_text)'] }} <b>ID: {{ m['datasetID'] }}</b></p>
                    <p><a href="/d/{{ m['datasetID'] }}">More about this dataset</a></p>
                    <p><b><a href="/new-model?datasetID={{ m['datasetID'] }}" class="w3-button w3-2019-galaxy-blue w3-padding w3-hide-small w3-hover-indigo">Train from this dataset</a></b></p>
                </div>
            </div>
            <div class="w3-container w3-margin">
                <div class="w3-large"><b>Loss of this model over time</b></div>
                <div style="height: 1000px; overflow: scroll;" id="chart"></div>
            </div>
        </div>
    </body>
</html>