{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="books.css">
        {{ base.head('Progress on model #'~ID|string, important=True) }}
        <script>
        var progressBar;
        var curID;
        progBarReq = new XMLHttpRequest();
        progBarReq.addEventListener("load", setProgBar);

        function setProgBar()  {
            responseArr = JSON.parse(this.responseText)
            progressBar.value = responseArr[0];
            clearTimeout(newRequest);

            if (responseArr[1]) {
                setTimeout(generatePage, 1000);
            }
            
            else {
                setTimeout(newRequest, 1000);
            }
        }

        function generatePage() {
            window.location.href = "/generate/" + curID
        }

        function newRequest() {
            progBarReq.open('GET', '/epoch-progress/'+curID);
            progBarReq.send();
        }

        window.onload = function() {
            curID = parseInt(document.getElementById("currentID").innerHTML);
            progressBar = document.getElementById("epochProgress");
            newRequest();
        }
        
        </script>
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='teach') }}
        
        <div class="w3-center">
            <h1 class="w3-xxlarge">Progress on model #{{ ID }}</h1>
        </div>
        <div class="w3-container">
            <div>
                Amount completed
                <progress max="{{ maxEpochs }}" value="0" id="epochProgress"></progress>
            </div>
        </div>
        <span class="w3-hide" id="currentID">{{ ID }}</span>
    </body>
</html>
