{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Joe\'s Model Maker', css=['toggles', 'popups'], important=True) }}
        <script>
            var toggleButton;
            var advancedFields = [];
            window.onload = function() {
                var advancedIds = JSON.parse('{{ advancedIDs|tojson }}');
                for (var i=0; i<advancedIds.length; i++) {
                    advancedFields.push(document.getElementById('div-' + advancedIds[i]));
                }
                toggleButton = document.getElementById("userMode");
            }

            function toggle() {
                if (toggleButton.checked) {
                    toggleButton.innerHTML = "Switch to easy mode";
                    for (var i=0; i<advancedFields.length; i++) {
                        advancedFields[i].style.display = "block";
                    }
                }
                else {
                    toggleButton.innerHTML = "Switch to advanced mode";
                    for (var i=0; i<advancedFields.length; i++) {
                        advancedFields[i].style.display = "none";
                    }
                }
            }
        </script>
    </head>
    <body>
        {{ base.navbar(user, c='teach') }}
        {{ base.heading('Make a model') }}
        <div class="w3-container w3-margin">
            <form method="POST" target="_self">
                <p><b>Hover over any field's label for a more detailed explanation</b></p>
                <p><a href="/explore-datasets">Browse datasets</a></p>
                {% for field in form %}
                    {% if field.id == 'csrf_token' %}
                        {{ field }}
                    {% elif field.id == 'userMode' %}
                    <p><b>Toggle advanced options</b></p>
                        <label class="w3-margin-top w3-large switch">
                            {{ field }}
                            <span class="slider round"></span>
                        </label>
                    {% else %}
                        <div id="div-{{ field.id }}" class="w3-margin-top" {% if (not form.userMode.data) and field.id in advancedIDs %} style="display: none;" {% endif %}>
                            <div>
                                {{ field.label|safe }}
                            </div>
                            {{ field }}
                        </div>
                    {% endif %}
                    {{ base.formErrors(field) }}
                {% endfor %}
                <br>
                <button type="submit" class="w3-button w3-xlarge w3-2019-galaxy-blue w3-right w3-margin w3-hover-indigo">Start training this model!</button>
            </form>
        </div>
    </body>
</html>
