{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Survey for Joe', important=True) }}
    </head>
    <body>
        {{ base.navbar(user, c='') }}
        {{ base.heading('Feedback for Joe') }}
        <div class="w3-container w3-margin">
            <form method="POST", target="_self">
                {% for field in form %}
                    {% if field.id == 'csrf_token' %}
                        {{ field }}
                    {% else %}
                        <div class="w3-margin-top">
                            <div>
                                <b>{{ field.label }}</b>
                            </div>
                            {{ field }}
                        </div>
                    {% endif %}
                    {{ base.formErrors(field) }}
                {% endfor %}
                <br>
                <button type="submit" class="w3-button w3-xlarge w3-2019-galaxy-blue w3-right w3-margin w3-hover-indigo">Submit survey feedback</button>
            </form>
        </div>
    </body>
</html>