<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>How to teach Joe</title>
        <link rel="stylesheet" href="/static/w3.css">
        <link rel="stylesheet" href="/static/w3-colors-2019.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body
            {
               background-color:#191970;
            }
            .w3-poppins
            {
                font-family: 'Poppins', sans-serif;
            }
            </style>
    </head>
    <body class="w3-text-white">
        <div class="w3-top">
            <div class="w3-bar w3-2019-galaxy-blue w3-card">
                <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-indigo">Joe</a>
                <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo">Learn more about Joe</a>
                <a href="/teach" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo w3-xlarge"><b>Teach with Joe</b></a>
                <a href="/exploremodels" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo">Talk to our neural networks with Joe</a>
                <span class="w3-bar-item w3-right w3-padding-large"><b>{{ user.name|escape }}</b></span>
                <a href="/logout" class="w3-bar-item w3-button w3-right w3-padding-large w3-hide-small w3-hover-indigo">My Account</a>
            </div>
          </div>
        <div class="w3-container w3-poppins">
            <div class="w3-container w3-xxlarge w3-center">
                <h1>Teaching with Joe</h1>
            </div>
            <div class="w3-container w3-xlarge w3-right w3-margin w3-padding-small w3-wide w3-2019-galaxy-blue w3-text-white">
               JOE
            </div>
        </div>
        <div><br><br></div>
        <div class="w3-container w3-margin-top">
            <div class="w3-container w3-card w3-2019-galaxy-blue w3-margin-top">
                <p class="w3-xxlarge">
                    Datasets
                </p>To teach the neural networks English, Joe requires a large amount of text files. These textfiles are compiled into a dataset
                <p class="w3-large">
                    You can upload your own datasets <b><a href="/upload-dataset">at this page</a></b>.
                </p>
            </div>

            <div class="w3-container w3-card w3-2019-galaxy-blue w3-margin-top">
                <p class="w3-xxlarge">
                    Models
                </p>
                AI data is stored and generated in instances called &quot;models&quot;.
                These models are essentially what Joe is.
                <p class="w3-large">
                    You can customize and train your own models using your site <b><a href="/new-model">at this page</a></b>.
                </p>
                </div>
            </div>
        </div>
    </body>
</html>