{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('How to teach Joe') }}
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user, c='teach') }}
        <div class="w3-container w3-jumbo w3-center">
            <p><b>Teaching with Joe</b></p>
        </div>
        <div><br><br></div>
        <div class="w3-container w3-margin-top">
            <div class="w3-container w3-card w3-2019-galaxy-blue">
                <p class="w3-xxlarge">
                    Datasets
                </p>To teach the neural networks English, Joe requires a large amount of text files. These textfiles are compiled into a dataset
                <p class="w3-large">
                    You can upload your own datasets <b><a href="/upload-dataset">at this page</a></b>.
                </p>
                <p class="w3-large">
                    Explore previously uploaded datasets <b><a href="/explore-datasets">here</a></b>
                </p>
                <br>
                <p>
                    <b>Not sure where to look for data?</b> Some good places to get datasets from are <a href="https://www.kaggle.com/datasets">Kaggle</a>, a data science site,
                    and <a href="http://www.gutenberg.org/">Project Gutenberg</a>, a collection of books with expired copyright. Some examples of fun datasets are food reviews,
                    book series', tweets, and scripts.
                </p>
            </div>
            <br><br>
            <div class="w3-container w3-card w3-2019-galaxy-blue">
                <p class="w3-xxlarge">
                    Models
                </p>
                AI data is stored and generated in instances called &quot;models&quot;.
                These models are essentially what Joe is.
                <p class="w3-large">
                    You can customize and train your own models using your site <b><a href="/new-model">at this page</a></b>.
                </p>
                </div>
            </div>
        </div>
    </body>
</html>