<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Science fair</title>
        <link rel="stylesheet" href="/static/w3.css">
        <link rel="stylesheet" href="/static/w3-colors-2019.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: #191970;
                font-family: Poppins, sans-serif;
            }
        </style>
    </head>

    <body class="w3-text-white">
        <div class="w3-top">
            <div class="w3-bar w3-2019-galaxy-blue w3-card">
                <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-indigo">Joe</a>
                <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo">Learn more about Joe</a>
                <a href="/teach" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo">Teach with Joe</a>
                <a href="/explore-models" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo">Talk to our neural networks with Joe</a>
            </div>
        </div>
        <div><br><br></div>
        <div class="w3-center">
            <p class="w3-jumbo"><b>Thank You for your feedback!</b></p>
            <p class="w3-xxlarge">Your suggestions and ideas are absolutely invaluable to optimizing our website and making it more user friendly.</p>
        </div>
    </body>
</html>
