{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('User') }}
    </head>
    <body class="w3-text-white">
        {{ base.navbar(user) }}
        <div class="w3-container w3-center">
            <b class="w3-xlarge">u/{{ u['username'] }}</b>
        </div>
        <div class="w3-container w3-2019-galaxy-blue">
            {{ u['self_description'] }}
        </div>
        {{ if user.username == u['username'] }}
            <div><a class="w3-button w3-2019-galaxy-blue w3-hover-indigo w3-padding-large" href='/logout'>Log out</a></div>
        {% endif %}
    </body>
</html>