{% import 'base.html.j2' as base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ base.head('Verify your email', important=True) }}
    </head>
    <body>
        {{ base.heading('Verify your email') }}
        <div class="w3-container w3-margin">
            <p class="w3-text-grey">Please check your inbox for an email containing a 4-digit verification code for Joe and enter it below.</p>
            <form method="POST" target="_self">
                {{ form.csrf_token }}
                {{ base.formErrors(form.csrf_token) }}
                <div class="w3-margin-top">
                    <b>{{ form.verificationCode.label }}</b>
                    {{ form.verificationCode }}
                </div>
                {{ base.formErrors(form.verificationCode) }}
                <br>
                <button type="submit" class="w3-button w3-blue w3-right w3-margin">Verify</button>
            </form>
        </div>
    </body>
</html>