<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register to meet Joe</title>
        <link rel="stylesheet" href="/static/w3.css">
        <link rel="stylesheet" href="/static/w3-colors-2019.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="w3-container w3-card w3-margin">
            <p class="w3-large">Verify your email.</p>
            <p class="w3-text-grey">Please check your inbox for an email containing a 4-digit verification code for Joe and enter it below.</p>
            <form method="POST">
                {{ form.csrf_token }}
                <div class="w3-margin-top">
                    <b>{{ form.verificationCode.label }}</b>
                    {{ form.verificationCode }}
                </div>
                <ul class="w3-ul w3-text-red">
                    {% for error in form.verificationCode.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                <br>
                <button type="submit" class="w3-button w3-blue w3-right w3-margin">Verify</button>
            </form>
        </div>
    </body>
</html>